@import url("./fonts.css");

:root {
  --font-family: "Helvetica Neue LT W05 55 Roman";
  --headings-font-family: "Helvetica Neue LT W05 65 Medium";
  --headings-font-size-h1: 4rem;
  --headings-font-size-h2: 1.75rem;
  --font-size: 1.25rem;
  --link-color: #000;
  --line-height: 1.7em;
}

h1 {
  font-family: "Helvetica Neue LT W01_75 Bold";
}

.text-bold {
  font-family: "Helvetica Neue LT W05 65 Medium";
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;

  & > .col,
  & > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

@custom-media --breakpoint-lg-up only screen and (min-width: 992px);

@media (--breakpoint-lg-up) {
  .post-padding {
    padding-left: 10rem !important;
    padding-right: 10rem !important;

    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}
